/** PRIMARY look */
:root {
  --uui-look-primary-surface: var(--uui-color-space-cadet);
  --uui-look-primary-surface-hover: var(--uui-color-violet-blue);
  --uui-look-primary-surface-disabled: var(--uui-color-malibu-dimmed);
  --uui-look-primary-surface-focus: var(--uui-color-space-cadet);
  --uui-look-primary-contrast: var(--uui-color-white);
  --uui-look-primary-contrast-hover: var(--uui-color-white);
  --uui-look-primary-contrast-disabled: var(--uui-color-white-dimmed);
  --uui-look-primary-contrast-focus: var(--uui-color-white);
  --uui-look-primary-border: var(--uui-color-space-cadet);
  --uui-look-primary-border-hover: var(--uui-color-violet-blue);
  --uui-look-primary-border-disabled: var(--uui-color-malibu-dimmed);
  --uui-look-primary-border-focus: var(--uui-color-space-cadet);
  --uui-look-primary-font-weight: 700;
}

/** SECONDARY look */
:root {
  --uui-look-secondary-surface: var(--uui-color-timberwolf);
  --uui-look-secondary-surface-hover: var(--uui-color-timberwolf-light);
  --uui-look-secondary-surface-disabled: var(--uui-color-timberwolf-dimmed);
  --uui-look-secondary-surface-focus: var(--uui-color-timberwolf);
  --uui-look-secondary-contrast: var(--uui-color-space-cadet);
  --uui-look-secondary-contrast-hover: var(--uui-color-violet-blue);
  --uui-look-secondary-contrast-disabled: var(--uui-color-space-cadet-dimmed);
  --uui-look-secondary-contrast-focus: var(--uui-color-space-cadet);
  --uui-look-secondary-border: var(--uui-color-timberwolf);
  --uui-look-secondary-border-hover: var(--uui-color-timberwolf-light);
  --uui-look-secondary-border-disabled: var(--uui-color-timberwolf-dimmed);
  --uui-look-secondary-border-focus: var(--uui-color-timberwolf);
  --uui-look-secondary-font-weight: 500;
}

/** POSITIVE look */
:root {
  --uui-look-positive-surface: var(--uui-color-jungle-green);
  --uui-look-positive-surface-hover: var(--uui-color-jungle-green-light);
  --uui-look-positive-surface-disabled: var(--uui-color-jungle-green-dimmed);
  --uui-look-positive-surface-focus: var(--uui-color-jungle-green);
  --uui-look-positive-contrast: var(--uui-color-white);
  --uui-look-positive-contrast-hover: var(--uui-color-white);
  --uui-look-positive-contrast-disabled: var(--uui-color-white);
  --uui-look-positive-contrast-focus: var(--uui-color-white);
  --uui-look-positive-border: var(--uui-color-jungle-green);
  --uui-look-positive-border-hover: var(--uui-color-jungle-green-light);
  --uui-look-positive-border-disabled: var(--uui-color-jungle-green-dimmed);
  --uui-look-positive-border-focus: var(--uui-color-jungle-green);
  --uui-look-positive-font-weight: 700;
}

/** WARNING look */
:root {
  --uui-look-warning-surface: var(--uui-color-sunglow);
  --uui-look-warning-surface-hover: var(--uui-color-sunglow-light);
  --uui-look-warning-surface-disabled: var(--uui-color-sunglow-dimmed);
  --uui-look-warning-surface-focus: var(--uui-color-sunglow);
  --uui-look-warning-contrast: var(--uui-color-black);
  --uui-look-warning-contrast-hover: var(--uui-color-black);
  --uui-look-warning-contrast-disabled: var(--uui-color-black);
  --uui-look-warning-contrast-focus: var(--uui-color-black);
  --uui-look-warning-border: var(--uui-color-sunglow);
  --uui-look-warning-border-hover: var(--uui-color-sunglow-light);
  --uui-look-warning-border-disabled: var(--uui-color-sunglow-dimmed);
  --uui-look-warning-border-focus: var(--uui-color-sunglow);
  --uui-look-warning-font-weight: 700;
}

/** DANGER look */
:root {
  --uui-look-danger-surface: var(--uui-color-maroon-flush);
  --uui-look-danger-surface-hover: var(--uui-color-maroon-flush-light);
  --uui-look-danger-surface-disabled: var(--uui-color-maroon-flush-dimmed);
  --uui-look-danger-surface-focus: var(--uui-color-maroon-flush);
  --uui-look-danger-contrast: var(--uui-color-white);
  --uui-look-danger-contrast-hover: var(--uui-color-white);
  --uui-look-danger-contrast-disabled: var(--uui-color-white);
  --uui-look-danger-contrast-focus: var(--uui-color-white);
  --uui-look-danger-border: var(--uui-color-maroon-flush);
  --uui-look-danger-border-hover: var(--uui-color-maroon-flush-light);
  --uui-look-danger-border-disabled: var(--uui-color-maroon-flush-dimmed);
  --uui-look-danger-border-focus: var(--uui-color-maroon-flush);
  --uui-look-danger-font-weight: 700;
}

/** OUTLINE look */
:root {
  --uui-look-outline-surface: transparent;
  --uui-look-outline-surface-hover: transparent;
  --uui-look-outline-surface-disabled: transparent;
  --uui-look-outline-surface-focus: transparent;
  --uui-look-outline-contrast: var(--uui-color-space-cadet);
  --uui-look-outline-contrast-hover: var(--uui-color-violet-blue);
  --uui-look-outline-contrast-disabled: var(--uui-color-space-cadet-dimmed);
  --uui-look-outline-contrast-focus: var(--uui-color-space-cadet);
  --uui-look-outline-border: var(--uui-color-space-cadet);
  --uui-look-outline-border-hover: var(--uui-color-violet-blue);
  --uui-look-outline-border-disabled: var(--uui-color-space-cadet-dimmed);
  --uui-look-outline-border-focus: var(--uui-color-space-cadet);
  --uui-look-outline-font-weight: 700;
}

/** PLACEHOLDER look */
:root {
  --uui-look-placeholder-surface: transparent;
  --uui-look-placeholder-surface-hover: transparent;
  --uui-look-placeholder-surface-disabled: transparent;
  --uui-look-placeholder-surface-focus: transparent;
  --uui-look-placeholder-contrast: var(--uui-color-space-cadet);
  --uui-look-placeholder-contrast-hover: var(--uui-color-violet-blue);
  --uui-look-placeholder-contrast-disabled: var(--uui-color-space-cadet-dimmed);
  --uui-look-placeholder-contrast-focus: var(--uui-color-space-cadet);
  --uui-look-placeholder-border: var(--uui-color-space-cadet);
  --uui-look-placeholder-border-hover: var(--uui-color-violet-blue);
  --uui-look-placeholder-border-disabled: var(--uui-color-space-cadet-dimmed);
  --uui-look-placeholder-border-focus: var(--uui-color-space-cadet);
  --uui-look-placeholder-font-weight: 400;
  --uui-look-placeholder-border-style: dashed;
}

