/** Standard interface style*/
:root {
  --uui-interface-surface: var(--uui-color-white);
  --uui-interface-surface-hover: var(--uui-color-white-dark);
  --uui-interface-surface-disabled: var(--uui-color-white-dimmed);
  --uui-interface-surface-focus: var(--uui-color-white);

  --uui-interface-surface-alt: var(--uui-color-gravel);
  --uui-interface-surface-alt-hover: var(--uui-color-gravel-dark);
  --uui-interface-surface-alt-disabled: var(--uui-color-gravel-dimmed);
  --uui-interface-surface-alt-focus: var(--uui-color-gravel);

  --uui-interface-contrast: var(--uui-color-black);
  --uui-interface-contrast-hover: var(--uui-color-space-cadet);
  --uui-interface-contrast-disabled: var(--uui-color-chamoisee-dimmed);
  --uui-interface-contrast-focus: var(--uui-color-black);
  /*--uui-interface-contrast-selected: var(--uui-color-space-cadet);*/
  /*--uui-interface-contrast-active: var(--uui-color-spanish-pink);*/

  --uui-interface-border: var(--uui-color-grey);
  --uui-interface-border-hover: var(--uui-color-grey-dark);
  --uui-interface-border-disabled: var(--uui-color-grey-dimmed);
  --uui-interface-border-focus: var(--uui-color-grey-dark);

  --uui-interface-border-style: solid;
  --uui-interface-font-weight: 400;

  --uui-interface-active: var(--uui-color-spanish-pink);
  --uui-interface-active-hover: var(--uui-color-spanish-pink);
  --uui-interface-active-disabled: var(--uui-color-spanish-pink-dimmed);
  --uui-interface-active-focus: var(--uui-color-spanish-pink);

  --uui-interface-active-contrast: var(--uui-color-gunmetal);
  --uui-interface-active-contrast-hover: var(--uui-color-space-cadet);
  --uui-interface-active-contrast-disabled: var(--uui-color-gunmetal-dimmed);
  --uui-interface-active-contrast-focus: var(--uui-color-gunmetal);

  --uui-interface-select: var(--uui-color-violet-blue);
  --uui-interface-select-hover: var(--uui-color-violet-blue-light);
  --uui-interface-select-disabled: var(--uui-color-violet-blue-dimmed);
  --uui-interface-select-focus: var(--uui-color-violet-blue);

  --uui-interface-select-contrast: var(--uui-color-white);
  --uui-interface-select-contrast-hover: var(--uui-color-white);
  --uui-interface-select-contrast-disabled: var(--uui-color-white-dimmed);
  --uui-interface-select-contrast-focus: var(--uui-color-white);

  --uui-interface-chosen: var(--uui-color-space-cadet);
  --uui-interface-chosen-hover: var(--uui-color-space-cadet-light);
  --uui-interface-chosen-disabled: var(--uui-color-space-cadet-dimmed);
  --uui-interface-chosen-focus: var(--uui-color-space-cadet);

  --uui-interface-chosen-contrast: var(--uui-color-white);
  --uui-interface-chosen-contrast-hover: var(--uui-color-white);
  --uui-interface-chosen-contrast-disabled: var(--uui-color-white-dimmed);
  --uui-interface-chosen-contrast-focus: var(--uui-color-white);
}
