## editors
/.idea
/.vscode

## system files
.DS_Store

## npm
/node_modules/
/npm-debug.log

## testing
/coverage/

## temp folders
/.tmp/

# build
/_site/
/packages/**/dist/
/packages/**/lib/**/*.js
/packages/**/lib/**/*.js.map
/packages/**/lib/**/*.d.ts
tsconfig.tsbuildinfo
/out-tsc/


custom-elements.json
storybook-static
debug.log
out-css
*.log
