@media (prefers-color-scheme: dark) {
  :root {

    /** Interface */
    --uui-interface-surface: var(--uui-color-cocoa-black);
    --uui-interface-surface-hover: var(--uui-color-cocoa-black-dark);
    --uui-interface-surface-disabled: var(--uui-color-cocoa-black-dimmed);
    --uui-interface-surface-focus: var(--uui-color-cocoa-black);

    --uui-interface-surface-alt: var(--uui-color-dune-black);
    --uui-interface-surface-alt-hover: var(--uui-color-dune-black-light);
    --uui-interface-surface-alt-disabled: var(--uui-color-dune-black-dimmed);
    --uui-interface-surface-alt-focus: var(--uui-color-dune-black);

    --uui-interface-contrast: var(--uui-color-white);
    --uui-interface-contrast-hover: var(--uui-color-malibu);
    --uui-interface-contrast-disabled: var(--uui-color-chamoisee-dimmed);
    --uui-interface-contrast-focus: var(--uui-color-white);
    --uui-interface-contrast-selected: var(--uui-color-malibu);
    /*--uui-interface-contrast-active: var(--uui-color-spanish-pink);*/

    --uui-interface-border: var(--uui-color-grey);
    --uui-interface-border-hover: var(--uui-color-grey-light);
    --uui-interface-border-disabled: var(--uui-color-grey-dimmed);
    --uui-interface-border-focus: var(--uui-color-white-dark);

    --uui-interface-selected: var(--uui-color-violet-blue);
    --uui-interface-selected-hover: var(--uui-color-violet-blue-light);
    --uui-interface-selected-disabled: var(--uui-color-violet-blue-dimmed);
    --uui-interface-selected-focus: var(--uui-color-violet-blue);

    --uui-interface-selected-contrast: var(--uui-color-white);
    --uui-interface-selected-contrast-hover: var(--uui-color-white);
    --uui-interface-selected-contrast-disabled: var(--uui-color-white-dimmed);
    --uui-interface-selected-contrast-focus: var(--uui-color-white);


    /** Interface looks: */
    /** PRIMARY */
    --uui-color-primary-surface: var(--uui-color-violet-blue);
    --uui-color-primary-surface-hover: var(--uui-color-violet-blue-light);
    --uui-color-primary-surface-disabled: var(--uui-color-violet-blue-dimmed);
    --uui-color-primary-surface-focus: var(--uui-color-violet-blue);

    /** SECONDARY */
    --uui-color-secondary-surface: var(--uui-color-mine-grey);
    --uui-color-secondary-surface-hover: var(--uui-color-mine-grey-light);
    --uui-color-secondary-surface-disabled: var(--uui-color-mine-grey-dimmed);
    --uui-color-secondary-surface-focus: var(--uui-color-mine-grey);
    --uui-color-secondary-contrast: var(--uui-color-white);
    --uui-color-secondary-contrast-hover: var(--uui-color-white);
    --uui-color-secondary-contrast-disabled: var(--uui-color-white-dimmed);
    --uui-color-secondary-contrast-focus: var(--uui-color-white);

  }
}
