@media (prefers-color-scheme: dark) {
  :root {

    /** Interface */
    --uui-interface-background: var(--uui-color-black);
    --uui-interface-background-hover: var(--uui-color-black-dark);
    --uui-interface-background-disabled: var(--uui-color-black-dimmed);
    --uui-interface-background-focus: var(--uui-color-black);

    --uui-interface-surface: var(--uui-color-cocoa-black);
    --uui-interface-surface-hover: var(--uui-color-cocoa-black-dark);
    --uui-interface-surface-disabled: var(--uui-color-cocoa-black-dimmed);
    --uui-interface-surface-focus: var(--uui-color-cocoa-black);

    --uui-interface-surface-alt: var(--uui-color-dune-black);
    --uui-interface-surface-alt-hover: var(--uui-color-dune-black-light);
    --uui-interface-surface-alt-disabled: var(--uui-color-dune-black-dimmed);
    --uui-interface-surface-alt-focus: var(--uui-color-dune-black);

    --uui-interface-contrast: var(--uui-color-white);
    --uui-interface-contrast-hover: var(--uui-color-malibu);
    --uui-interface-contrast-disabled: var(--uui-color-chamoisee-dimmed);
    --uui-interface-contrast-focus: var(--uui-color-white);
    /*--uui-interface-contrast-selected: var(--uui-color-malibu);*/
    /*--uui-interface-contrast-active: var(--uui-color-spanish-pink);*/

    --uui-interface-border: var(--uui-color-grey);
    --uui-interface-border-hover: var(--uui-color-grey-light);
    --uui-interface-border-disabled: var(--uui-color-grey-dimmed);
    --uui-interface-border-focus: var(--uui-color-white-dark);

    --uui-interface-select: var(--uui-color-violet-blue);
    --uui-interface-select-hover: var(--uui-color-violet-blue-light);
    --uui-interface-select-disabled: var(--uui-color-violet-blue-dimmed);
    --uui-interface-select-focus: var(--uui-color-violet-blue);

    --uui-interface-select-contrast: var(--uui-color-white);
    --uui-interface-select-contrast-hover: var(--uui-color-white);
    --uui-interface-select-contrast-disabled: var(--uui-color-white-dimmed);
    --uui-interface-select-contrast-focus: var(--uui-color-white);

    --uui-interface-chosen: var(--uui-color-violet-blue);
    --uui-interface-chosen-hover: var(--uui-color-violet-blue-light);
    --uui-interface-chosen-disabled: var(--uui-color-violet-blue-dimmed);
    --uui-interface-chosen-focus: var(--uui-color-violet-blue);

    --uui-interface-chosen-contrast: var(--uui-color-white);
    --uui-interface-chosen-contrast-hover: var(--uui-color-white);
    --uui-interface-chosen-contrast-disabled: var(--uui-color-white-dimmed);
    --uui-interface-chosen-contrast-focus: var(--uui-color-white);


    /** Interface looks: */
    /** PRIMARY */
    --uui-look-primary-surface: var(--uui-color-violet-blue);
    --uui-look-primary-surface-hover: var(--uui-color-violet-blue-light);
    --uui-look-primary-surface-disabled: var(--uui-color-violet-blue-dimmed);
    --uui-look-primary-surface-focus: var(--uui-color-violet-blue);

    /** SECONDARY */
    --uui-look-secondary-surface: var(--uui-color-mine-grey);
    --uui-look-secondary-surface-hover: var(--uui-color-mine-grey-light);
    --uui-look-secondary-surface-disabled: var(--uui-color-mine-grey-dimmed);
    --uui-look-secondary-surface-focus: var(--uui-color-mine-grey);
    --uui-look-secondary-contrast: var(--uui-color-white);
    --uui-look-secondary-contrast-hover: var(--uui-color-white);
    --uui-look-secondary-contrast-disabled: var(--uui-color-white-dimmed);
    --uui-look-secondary-contrast-focus: var(--uui-color-white);
    --uui-look-secondary-border: var(--uui-color-mine-grey);
    --uui-look-secondary-border-hover: var(--uui-color-mine-grey-light);
    --uui-look-secondary-border-disabled: var(--uui-color-mine-grey-dimmed);
    --uui-look-secondary-border-focus: var(--uui-color-mine-grey);

    /** POSITIVE */
    --uui-look-positive-surface: var(--uui-color-dark-green);
    --uui-look-positive-surface-hover: var(--uui-color-dark-green);
    --uui-look-positive-surface-disabled: var(--uui-color-dark-green-dimmed);
    --uui-look-positive-surface-focus: var(--uui-color-dark-green-dark);
    --uui-look-positive-border: var(--uui-color-dark-green);
    --uui-look-positive-border-hover: var(--uui-color-dark-green-light);
    --uui-look-positive-border-disabled: var(--uui-color-dark-green-dimmed);
    --uui-look-positive-border-focus: var(--uui-color-dark-green-dark);


    /** WARNING look */
    --uui-look-warning-surface: var(--uui-color-sunglow-dark);

    /** DANGER look */
    --uui-look-danger-surface: var(--uui-color-maroon-flush-dark);


    /** OUTLINE */
    --uui-look-outline-contrast: var(--uui-color-white);
    --uui-look-outline-contrast-hover: var(--uui-color-malibu);
    --uui-look-outline-contrast-disabled: var(--uui-color-white-dimmed);
    --uui-look-outline-contrast-focus: var(--uui-color-white);

    --uui-look-outline-border: var(--uui-color-white);
    --uui-look-outline-border-hover: var(--uui-color-malibu);
    --uui-look-outline-border-disabled: var(--uui-color-white-dimmed);
    --uui-look-outline-border-focus: var(--uui-color-white);

    /** PLACEHOLDER */
    --uui-look-placeholder-contrast: var(--uui-color-white);
    --uui-look-placeholder-contrast-hover: var(--uui-color-malibu);
    --uui-look-placeholder-contrast-disabled: var(--uui-color-white-dimmed);
    --uui-look-placeholder-contrast-focus: var(--uui-color-white);

    --uui-look-placeholder-border: var(--uui-color-white);
    --uui-look-placeholder-border-hover: var(--uui-color-malibu);
    --uui-look-placeholder-border-disabled: var(--uui-color-white-dimmed);
    --uui-look-placeholder-border-focus: var(--uui-color-white);
  }

}
