/* Theme properties */

/* Each theme-color should have following set of variants:
  main,
  dark,
  light,
  tint,
  highlight
  contrast( text)
*/

:root {
  --uui-color-identity: var(--uui-color-space-cadet);
  --uui-color-identity-dark: var(--uui-color-space-cadet);
  --uui-color-identity-light: var(--uui-color-space-cadet);
  --uui-color-identity-contrast: var(--uui-color-white);
}

:root {
  --uui-color-accent: var(--uui-color-spanish-pink);
  --uui-color-accent-dark: var(--uui-color-spanish-pink);
  --uui-color-accent-light: var(--uui-color-spanish-pink);
  --uui-color-accent-contrast: var(--uui-color-dark-gunmetal);
}
