/* UUI Dark Theme — base foundations + dark color tokens */
@import './base.css';

:root {
  /* ----- STATES -----  */
  --uui-color-selected: #2a72b6;
  --uui-color-selected-emphasis: #3385d1;
  --uui-color-selected-standalone: #215b91;
  --uui-color-selected-contrast: white;

  --uui-color-current: #d49e98;
  --uui-color-current-emphasis: #dbaea9;
  --uui-color-current-standalone: #c3786f;
  --uui-color-current-contrast: #1b264f;

  /* ----- UNIVERSAL -----  */
  --uui-color-header-surface: #14171b;
  --uui-color-header-contrast: rgba(255, 255, 255, 0.8);
  --uui-color-header-contrast-emphasis: #fff;

  --uui-color-focus: #2294ff;

  --uui-color-disabled: #373e47;
  --uui-color-disabled-standalone: #444c55;
  --uui-color-disabled-contrast: #636e7b;

  /* ----- SURFACE -----  */
  --uui-color-surface: #2d333b;
  --uui-color-surface-alt: #373e47;
  --uui-color-surface-emphasis: #373e47;

  --uui-color-background: #22272e;

  --uui-color-text: #cdd9e5;
  --uui-color-text-alt: #636e7b;

  --uui-color-interactive: #51abff;
  --uui-color-interactive-emphasis: #7dc0ff;

  --uui-color-border: #4d5661;
  --uui-color-border-standalone: #59636e;
  --uui-color-border-emphasis: #697380;

  --uui-color-divider: #383d44;
  --uui-color-divider-standalone: #444c56;
  --uui-color-divider-emphasis: #4f5864;

  /* ----- COLORS -----  */
  --uui-color-default: #2c70d6;
  --uui-color-default-emphasis: #3886fc;
  --uui-color-default-standalone: #88bdff;
  --uui-color-default-contrast: white;

  --uui-color-warning: #977b00;
  --uui-color-warning-emphasis: #bda22b;
  --uui-color-warning-standalone: #ffd82c;
  --uui-color-warning-contrast: white;

  --uui-color-danger: #8a2944;
  --uui-color-danger-emphasis: #a03452;
  --uui-color-danger-standalone: #ff7a9f;
  --uui-color-danger-contrast: white;

  --uui-color-invalid: #8a2944;
  --uui-color-invalid-emphasis: #a03452;
  --uui-color-invalid-standalone: #ff7a9f;
  --uui-color-invalid-contrast: white;

  --uui-color-positive: #26793e;
  --uui-color-positive-emphasis: #358f4e;
  --uui-color-positive-standalone: #52d176;
  --uui-color-positive-contrast: white;
}
