/* @property --uui-animation-shake-horizontal {
  syntax: '<custom-ident>+<time>+<custom-ident>+<custom-ident>';
  inherits: true;
  initialValue: uui-shake-horizontal 0.6s ease backwards;
} */
/* 
@property --uui-animation-name {
  syntax: '<custom-ident>';
  inherits: true;
  initialvalue: shake;
} */

/* animation: shake 0.6s ease backwards; */
/* NOT WORKING seems that shadow elements cannot acces keyframes outside shadow dom */
@keyframes shake {
  10%,
  90% {
    transform: translateX(-1px);
  }

  20%,
  80% {
    transform: translateX(2px);
  }

  30%,
  50%,
  70% {
    transform: translateX(-3px);
  }

  40%,
  60% {
    transform: translateX(3px);
  }
}
