/* Currently used https://chir.ag/projects/name-that-color/ for naming inspiration */

/* Color Properties */

:root {

  --uui-color-deep-saffron: #F79C37;
  --uui-color-sunglow: #FAD634;
  --uui-color-spanish-pink: #F5C1BC;
  --uui-color-dark-gunmetal: #162335;
  --uui-color-space-cadet: #1B264F;
  --uui-color-violet-blue: #3544B1;
  --uui-color-maroon-flush: #D42054;
  --uui-color-jungle-green: #2BC37C;
  --uui-color-chamoisee: #9D8057;
  --uui-color-timberwolf: #E2DAD4;
  --uui-color-alabaster: #F2EBE6;
  --uui-color-white-smoke: #F9F7F4;
  --uui-color-white: #F9F9F9;
  --uui-color-black: #060606;

  /** TODO: Grey color and nuances, come up with a naming strategy that makes sense... */
  --uui-color-grey: #C4C4C4;

}
