/** Example of interface specific props. **/



/** Standart interface style*/
:root {
  --uui-interface-background: var(--uui-color-white);
  --uui-interface-background-hover: var(--uui-color-white-dark);
  --uui-interface-background-disabled: var(--uui-color-white-dimmed);
  --uui-interface-background-focus: var(--uui-color-white);

  --uui-interface-contrast: var(--uui-color-black);
  --uui-interface-contrast-hover: var(--uui-color-gunmetal);
  --uui-interface-contrast-disabled: var(--uui-color-black-dimmed);
  --uui-interface-contrast-focus: var(--uui-color-black);

  --uui-interface-border: var(--uui-color-grey);
  --uui-interface-border-hover: var(--uui-color-grey-light);
  --uui-interface-border-disabled: var(--uui-color-grey-dimmed);
  --uui-interface-border-focus: var(--uui-color-grey-dark);

  --uui-interface-active: var(--uui-color-spanish-pink);
  --uui-interface-active-hover: var(--uui-color-spanish-pink);
  --uui-interface-active-disabled: var(--uui-color-spanish-pink-dimmed);
  --uui-interface-active-focus: var(--uui-color-spanish-pink);
/*
  --uui-interface-background-alt-(Default|Hover|Disabled|Focus)
  --uui-interface-selected-(Default|Hover|Disabled|Focus)
  --uui-interface-selectedContrast-(Default|Hover|Disabled|Focus)
  --uui-interface-active-(Default|Hover|Disabled|Focus)
  --uui-interface-activeContrast-(Default|Hover|Disabled|Focus)
  --uui-interface-border-(Default|Hover|Disabled|Focus)






  default
  focus
  hover
  disabled

  active
  selected(/checked/on)
*/

}
