/** Example of interface specific props. **/

/** Standard symbolic style */

:root {
  --uui-interface-standard-background-color: var(--uui-color-standard);
  --uui-interface-standard-background-color-hover: var(--uui-color-standard-light);
  --uui-interface-standard-text-color: var(--uui-color-standard-contrast);
}





/** Positive symbolic style*/
:root {
  --uui-interface-positive-background-color: var(--uui-color-positive);
  --uui-interface-positive-background-color-hover: var(--uui-color-positive-tint);
  --uui-interface-positive-background-color-active: var(--uui-color-positive-highligth);
  --uui-interface-positive-text-color: var(--uui-color-white);
}
