/** PRIMARY */
:root {
  --uui-look-primary-background: var(--uui-color-space-cadet);
  --uui-look-primary-background-hover: var(--uui-color-violet-blue);
  --uui-look-primary-background-disabled: var(--uui-color-space-cadet-dimmed);
  --uui-look-primary-background-focus: var(--uui-color-space-cadet);
  --uui-look-primary-contrast: var(--uui-color-white);
  --uui-look-primary-contrast-hover: var(--uui-color-white);
  --uui-look-primary-contrast-disabled: var(--uui-color-white);
  --uui-look-primary-contrast-focus: var(--uui-color-white);
  --uui-look-primary-border: var(--uui-color-space-cadet);
  --uui-look-primary-border-hover: var(--uui-color-violet-blue);
  --uui-look-primary-border-disabled: var(--uui-color-space-cadet-dimmed);
  --uui-look-primary-border-focus: var(--uui-color-space-cadet);
  --uui-look-primary-font-weight: 700;
}

/** SECONDARY */
:root {
  --uui-look-secondary-background: var(--uui-color-timberwolf);
  --uui-look-secondary-background-hover: var(--uui-color-timberwolf-light);
  --uui-look-secondary-background-disabled: var(--uui-color-timberwolf-dimmed);
  --uui-look-secondary-background-focus: var(--uui-color-timberwolf);
  --uui-look-secondary-contrast: var(--uui-color-space-cadet);
  --uui-look-secondary-contrast-hover: var(--uui-color-violet-blue);
  --uui-look-secondary-contrast-disabled: var(--uui-color-space-cadet-dimmed);
  --uui-look-secondary-contrast-focus: var(--uui-color-space-cadet);
  --uui-look-secondary-border: var(--uui-color-timberwolf);
  --uui-look-secondary-border-hover: var(--uui-color-timberwolf-light);
  --uui-look-secondary-border-disabled: var(--uui-color-timberwolf-dimmed);
  --uui-look-secondary-border-focus: var(--uui-color-timberwolf);
  --uui-look-secondary-font-weight: 500;
}

/** POSITIVE */
:root {
  --uui-look-positive-background: var(--uui-color-jungle-green);
  --uui-look-positive-background-hover: var(--uui-color-jungle-green-light);
  --uui-look-positive-background-disabled: var(--uui-color-jungle-green-dimmed);
  --uui-look-positive-background-focus: var(--uui-color-jungle-green);
  --uui-look-positive-contrast: var(--uui-color-white);
  --uui-look-positive-contrast-hover: var(--uui-color-white);
  --uui-look-positive-contrast-disabled: var(--uui-color-white);
  --uui-look-positive-contrast-focus: var(--uui-color-white);
  --uui-look-positive-border: var(--uui-color-jungle-green);
  --uui-look-positive-border-hover: var(--uui-color-jungle-green-light);
  --uui-look-positive-border-disabled: var(--uui-color-jungle-green-dimmed);
  --uui-look-positive-border-focus: var(--uui-color-jungle-green);
  --uui-look-positive-font-weight: 700;
}

/** WARNING */
:root {
  --uui-look-warning-background: var(--uui-color-sunglow);
  --uui-look-warning-background-hover: var(--uui-color-sunglow-light);
  --uui-look-warning-background-disabled: var(--uui-color-sunglow-dimmed);
  --uui-look-warning-background-focus: var(--uui-color-sunglow);
  --uui-look-warning-contrast: var(--uui-color-black);
  --uui-look-warning-contrast-hover: var(--uui-color-black);
  --uui-look-warning-contrast-disabled: var(--uui-color-black);
  --uui-look-warning-contrast-focus: var(--uui-color-black);
  --uui-look-warning-border: var(--uui-color-sunglow);
  --uui-look-warning-border-hover: var(--uui-color-sunglow-light);
  --uui-look-warning-border-disabled: var(--uui-color-sunglow-dimmed);
  --uui-look-warning-border-focus: var(--uui-color-sunglow);
  --uui-look-warning-font-weight: 700;
}

/** DANGER */
:root {
  --uui-look-danger-background: var(--uui-color-maroon-flush);
  --uui-look-danger-background-hover: var(--uui-color-maroon-flush-light);
  --uui-look-danger-background-disabled: var(--uui-color-maroon-flush-dimmed);
  --uui-look-danger-background-focus: var(--uui-color-maroon-flush);
  --uui-look-danger-contrast: var(--uui-color-white);
  --uui-look-danger-contrast-hover: var(--uui-color-white);
  --uui-look-danger-contrast-disabled: var(--uui-color-white);
  --uui-look-danger-contrast-focus: var(--uui-color-white);
  --uui-look-danger-border: var(--uui-color-maroon-flush);
  --uui-look-danger-border-hover: var(--uui-color-maroon-flush-light);
  --uui-look-danger-border-disabled: var(--uui-color-maroon-flush-dimmed);
  --uui-look-danger-border-focus: var(--uui-color-maroon-flush);
  --uui-look-danger-font-weight: 700;
}

/** OUTLINE */
:root {
  --uui-look-outline-background: transparent;
  --uui-look-outline-background-hover: transparent;
  --uui-look-outline-background-disabled: transparent;
  --uui-look-outline-background-focus: transparent;
  --uui-look-outline-contrast: var(--uui-color-space-cadet);
  --uui-look-outline-contrast-hover: var(--uui-color-violet-blue);
  --uui-look-outline-contrast-disabled: var(--uui-color-space-cadet-dimmed);
  --uui-look-outline-contrast-focus: var(--uui-color-space-cadet);
  --uui-look-outline-border: var(--uui-color-space-cadet);
  --uui-look-outline-border-hover: var(--uui-color-violet-blue);
  --uui-look-outline-border-disabled: var(--uui-color-space-cadet-dimmed);
  --uui-look-outline-border-focus: var(--uui-color-space-cadet);
  --uui-look-outline-font-weight: 700;
}

