/* Size Properties */

:root {

  --uui-size-half-base-unit: 3px;
  --uui-size-base-unit: 6px;
  --uui-size-xsmall: 9px;
  --uui-size-small: 12px;
  --uui-size-medium: 24px;

  --uui-size-large: 30px;
  --uui-size-xlarge: 42px;
  --uui-size-xxlarge: 66px;


  /** concept for a different naming convention: */
  --uui-size-space-1: 3px;
  --uui-size-space-2: 6px;
  --uui-size-space-3: 12px;
  --uui-size-space-4: 24px;
  --uui-size-space-5: 36px;

  --uui-size-layout-0: 24px;
  --uui-size-layout-1: 30px;
  --uui-size-layout-2: 42px;
  --uui-size-layout-3: 66px;
  --uui-size-layout-4: 80px;
  --uui-size-layout-5: 110px;

  /** Other size props: */
  --uui-size-border-radius: 3px;

}
