/** STANDART */
:root {
  --uui-color-standard: var(--uui-color-grey);
  --uui-color-standard-light: var(--uui-color-grey);
  --uui-color-standard-dark: var(--uui-color-grey);
  --uui-color-standard-contrast: var(--uui-color-black);
}


/** POSITIVE */
:root {
  --uui-color-positive: var(--uui-color-jungle-green);
  --uui-color-positive-light: var(--uui-color-jungle-green);
  --uui-color-positive-dark: var(--uui-color-jungle-green);
  --uui-color-positive-contrast: var(--uui-color-white);
}

/** DANGER */
:root {
  --uui-color-danger: var(--uui-color-maroon-flush);
  --uui-color-danger-light: var(--uui-color-maroon-flush);
  --uui-color-danger-dark: var(--uui-color-maroon-flush);
  --uui-color-danger-contrast: var(--uui-color-white);
}
