:root {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.6rem;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/* 

:root {
 
  --uui-type-default-size: var(--uui-size-5);
  --uui-type-small-size: var(--uui-size-3);
  --uui-type-h1-size: var(--uui-size-xxlarge);
  --uui-type-h2-size: var(--uui-size-xlarge);
  --uui-type-h3-size: var(--uui-size-large);
  --uui-type-h4-size: 21px;
  --uui-type-h5-size: var(--uui-type-default-size);
}

h1 {
  font-size: var(--uui-type-h1-size);
  line-height: var(--uui-size-xxlarge);
  font-weight: 300;
  margin-left: -5px;
  margin-top: var(--uui-size-medium);
  margin-bottom: var(--uui-size-medium);
}
h1:not(:first-child) {
  margin-top: var(--uui-size-xxlarge);
}

h2 {
  font-size: var(--uui-type-h2-size);
  line-height: var(--uui-size-xlarge);
  font-weight: 300;
  padding-top: 1px;
  padding-bottom: 5px;
  margin-left: -3px;
  margin-top: var(--uui-size-medium);
  margin-bottom: var(--uui-size-medium);
}
h2:not(:first-child) {
  margin-top: var(--uui-size-xlarge);
}

h3 {
  font-size: var(--uui-type-h3-size);
  line-height: var(--uui-size-large);
  font-weight: 300;
  padding-top: var(--uui-size-half-base-unit);
  padding-bottom: var(--uui-size-half-base-unit);
  margin-left: -2px;
  margin-top: var(--uui-size-medium);
  margin-bottom: var(--uui-size-medium);
}
h3:not(:first-child) {
  margin-top: var(--uui-size-large);
}

h4 {
  font-size: var(--uui-type-h4-size);
  line-height: 21px;
  font-weight: 400;
  margin-left: -1px;
  margin-top: var(--uui-size-medium);
  margin-bottom: var(--uui-size-medium);
}
h4:not(:first-child) {
  margin-top: var(--uui-size-medium);
}

h5 {
  font-size: var(--uui-type-h5-size);
  margin-top: var(--uui-size-medium);
  margin-bottom: 0;
}
h5:not(:first-child) {
  margin-top: var(--uui-size-medium);
}

p {
  padding-top: var(--uui-size-half-base-unit);
  padding-bottom: var(--uui-size-half-base-unit);
  margin-top: 0;
  margin-bottom: var(--uui-size-medium);
}
p:last-child {
  margin-bottom: 0;
}

small {
  display: inline-block;
  font-size: 12px;
  line-height: calc(var(--uui-size-base-unit) * 3);
  margin-bottom: var(--uui-size-medium);
}

blockquote {
  float: right;
  font-size: 15px;
  font-weight: 700;
  font-style: italic;
  padding-top: var(--uui-size-half-base-unit);
  padding-bottom: var(--uui-size-half-base-unit);
  margin-top: 0;
  margin-bottom: var(--uui-size-medium);
  margin-right: -0.035em;
  max-width: 16em;
  quotes: '“' '”' '‘' '’';
  line-height: inherit;
}

blockquote:before {
  content: open-quote;
  margin-left: -0.46em;
  margin-right: 0.08em;
  vertical-align: bottom;
  font-weight: 400;
  font-size: 2em;
}

blockquote:after {
  content: close-quote;
  margin-left: 0.08em;
  margin-right: -0.46em;
  vertical-align: bottom;
  font-weight: 400;
  font-size: 2em;
  margin-bottom: -2px;
  display: inline-block;
} */
