@media screen and (-ms-high-contrast: active) {
  :root {

    /** POSITIVE */
    --uui-look-positive-surface: var(--uui-color-dark-green);
    --uui-look-positive-surface-hover: var(--uui-color-dark-green);
    --uui-look-positive-surface-disabled: var(--uui-color-dark-green-dimmed);
    --uui-look-positive-surface-focus: var(--uui-color-dark-green);
    --uui-look-positive-border: var(--uui-color-dark-green);
    --uui-look-positive-border-hover: var(--uui-color-dark-green);
    --uui-look-positive-border-disabled: var(--uui-color-dark-green-dimmed);
    --uui-look-positive-border-focus: var(--uui-color-dark-green);


    /** OUTLINE */
    --uui-look-outline-contrast: var(--uui-color-black);
    --uui-look-outline-contrast-hover: var(--uui-color-black);
    --uui-look-outline-contrast-disabled: var(--uui-color-black-dimmed);
    --uui-look-outline-contrast-focus: var(--uui-color-black);

    --uui-look-outline-border: var(--uui-color-black);
    --uui-look-outline-border-hover: var(--uui-color-black);
    --uui-look-outline-border-disabled: var(--uui-color-black-dimmed);
    --uui-look-outline-border-focus: var(--uui-color-black);

    /** PLACEHOLDER */
    --uui-look-placeholder-contrast: var(--uui-color-black);
    --uui-look-placeholder-contrast-hover: var(--uui-color-black);
    --uui-look-placeholder-contrast-disabled: var(--uui-color-black-dimmed);
    --uui-look-placeholder-contrast-focus: var(--uui-color-black);

    --uui-look-outline-border: var(--uui-color-black);
    --uui-look-outline-border-hover: var(--uui-color-black);
    --uui-look-outline-border-disabled: var(--uui-color-black-dimmed);
    --uui-look-outline-border-focus: var(--uui-color-black);

    --uui-look-placeholder-font-weight: 700;
  }

}
