@property --uui-button-ordinary-background-color {
  syntax: '<color>';
  inherits: true;
}
:root {
  --uui-button-ordinary-background-color: var(--uui-interface-ordinary-background-color);
}
@property --uui-button-ordinary-text-color {
  syntax: '<color>';
  inherits: true;
}
:root {
  --uui-button-ordinary-text-color: var(--uui-interface-ordinary-text-color);
}


@property --uui-button-positive-background-color {
  syntax: '<color>';
  inherits: true;
}
:root {
  --uui-button-positive-background-color: var(--uui-interface-positive-background-color);
}
@property --uui-button-positive-text-color {
  syntax: '<color>';
  inherits: true;
}
:root {
  --uui-button-positive-text-color: var(--uui-interface-positive-text-color);
}
