:root {
  font-family: 'Roboto', sans-serif;

  /* ----- STATES -----  */
  --uui-color-selected: var(--uui-palette-violet-blue);
  --uui-color-selected-emphasis: var(--uui-palette-violet-blue-light);
  --uui-color-selected-standalone: var(--uui-palette-violet-blue-dark);
  --uui-color-selected-contrast: #fff;

  --uui-color-current: var(--uui-palette-spanish-pink);
  --uui-color-current-emphasis: var(--uui-palette-spanish-pink-light);
  --uui-color-current-standalone: var(--uui-palette-spanish-pink-dark);
  --uui-color-current-contrast: var(--uui-palette-space-cadet);

  --uui-color-disabled: var(--uui-palette-sand);
  --uui-color-disabled-standalone: var(--uui-palette-sand-dark);
  --uui-color-disabled-contrast: var(--uui-palette-grey);

  /* ----- UNIVERSAL -----  */
  --uui-color-header-surface: var(--uui-palette-space-cadet);
  --uui-color-header-contrast: rgba(255, 255, 255, 0.8);
  --uui-color-header-contrast-emphasis: #fff;

  --uui-color-focus: var(--uui-palette-malibu);

  /* ----- SURFACE -----  */
  --uui-color-surface: #fff;
  --uui-color-surface-alt: var(--uui-palette-sand);
  --uui-color-surface-emphasis: var(--uui-palette-white-dark);

  --uui-color-background: var(--uui-palette-sand);

  --uui-color-text: var(--uui-palette-black);
  --uui-color-text-alt: var(--uui-palette-dune-black);

  --uui-color-interactive: var(--uui-palette-violet-blue);
  --uui-color-interactive-emphasis: var(--uui-palette-violet-blue-light);

  --uui-color-border: #d8d7d9;
  --uui-color-border-standalone: #c2c2c2;
  --uui-color-border-emphasis: #a1a1a1;

  --uui-color-divider: #f6f6f7;
  --uui-color-divider-standalone: #e9e9eb;
  --uui-color-divider-emphasis: #bdbdbd;

  /* ----- COLORS -----  */
  --uui-color-default: var(--uui-palette-violet-blue);
  --uui-color-default-emphasis: var(--uui-palette-violet-blue-light);
  --uui-color-default-standalone: var(--uui-palette-violet-blue-dark);
  --uui-color-default-contrast: #fff;

  --uui-color-warning: #fbd142;
  --uui-color-warning-emphasis: var(--uui-palette-sunglow-light);
  --uui-color-warning-standalone: #a17700;
  --uui-color-warning-contrast: #000;
  /* --uui-color-warning: var(--uui-palette-sunglow); Contrast not high enough */
  /* --uui-color-warning-standalone: var(--uui-palette-sunglow-dark); Contrast not high enough */

  --uui-color-danger: var(--uui-palette-maroon-flush);
  --uui-color-danger-emphasis: var(--uui-palette-maroon-flush-light);
  --uui-color-danger-standalone: var(--uui-palette-maroon-flush-dark);
  --uui-color-danger-contrast: white;

  --uui-color-invalid: var(--uui-palette-maroon-flush);
  --uui-color-invalid-emphasis: var(--uui-palette-maroon-flush-light);
  --uui-color-invalid-standalone: var(--uui-palette-maroon-flush-dark);
  --uui-color-invalid-contrast: white;

  --uui-color-positive: var(--uui-palette-forest-green);
  --uui-color-positive-emphasis: var(--uui-palette-forest-green-light);
  --uui-color-positive-standalone: var(--uui-palette-forest-green-dark);
  --uui-color-positive-contrast: #fff;
}
