/* Currently used https://chir.ag/projects/name-that-color/ for naming inspiration */

/* Color Properties */

:root {
  --uui-palette-deep-saffron: #f79c37;
  --uui-palette-deep-saffron-light: rgb(249, 181, 103);
  --uui-palette-deep-saffron-dark: rgb(222, 145, 56);
  --uui-palette-deep-saffron-dimmed: rgb(166, 150, 133);

  --uui-palette-sunglow: #fad634;
  --uui-palette-sunglow-light: rgb(251, 224, 101);
  --uui-palette-sunglow-dark: rgb(224, 193, 51);
  --uui-palette-sunglow-dimmed: rgb(166, 160, 133);

  --uui-palette-spanish-pink: #f5c1bc;
  --uui-palette-spanish-pink-light: rgb(248, 214, 211);
  --uui-palette-spanish-pink-dark: rgb(232, 192, 189);
  --uui-palette-spanish-pink-dimmed: rgb(219, 212, 212);

  --uui-palette-gunmetal: #162335;
  --uui-palette-gunmetal-light: rgb(35, 55, 83);
  --uui-palette-gunmetal-dark: rgb(23, 27, 33);
  --uui-palette-gunmetal-dimmed: rgb(54, 54, 54);

  --uui-palette-space-cadet: #1b264f;
  --uui-palette-space-cadet-light: rgb(38, 53, 110);
  --uui-palette-space-cadet-dark: rgb(28, 35, 59);
  --uui-palette-space-cadet-dimmed: rgb(106, 117, 154);

  --uui-palette-violet-blue: #283a97;
  --uui-palette-violet-blue-light: #2d42ab;
  --uui-palette-violet-blue-dark: #25358b;
  --uui-palette-violet-blue-dimmed: #2c3669;

  --uui-palette-malibu: #3879ff;
  --uui-palette-malibu-light: rgb(97, 150, 255);
  --uui-palette-malibu-dark: rgb(56, 116, 235);
  --uui-palette-malibu-dimmed: rgb(115, 120, 130);

  --uui-palette-maroon-flush: #c31d4c;
  --uui-palette-maroon-flush-light: rgb(223, 42, 93);
  --uui-palette-maroon-flush-dark: rgb(174, 30, 71);
  --uui-palette-maroon-flush-dimmed: rgb(122, 98, 104);

  --uui-palette-jungle-green: #2bc37c;
  --uui-palette-jungle-green-light: rgb(58, 212, 140);
  --uui-palette-jungle-green-dark: rgb(43, 179, 115);
  --uui-palette-jungle-green-dimmed: rgb(102, 135, 120);

  --uui-palette-forest-green: #0b8152;
  --uui-palette-forest-green-light: rgb(13, 155, 98);
  --uui-palette-forest-green-dark: rgb(10, 115, 73);
  --uui-palette-forest-green-dimmed: rgb(46, 89, 72);

  --uui-palette-cocoa-black: #191715;
  --uui-palette-cocoa-black-light: rgb(39, 36, 32);
  --uui-palette-cocoa-black-dark: rgb(20, 20, 20);
  --uui-palette-cocoa-black-dimmed: rgb(48, 48, 48);

  --uui-palette-dune-black: #2e2b29;
  --uui-palette-dune-black-light: rgb(57, 53, 50);
  --uui-palette-dune-black-dark: rgb(38, 38, 38);
  --uui-palette-dune-black-dimmed: rgb(64, 64, 64);

  --uui-palette-cocoa-brown: #332a24;
  --uui-palette-cocoa-brown-light: rgb(66, 54, 47);
  --uui-palette-cocoa-brown-dark: rgb(38, 37, 36);
  --uui-palette-cocoa-brown-dimmed: rgb(43, 43, 43);

  --uui-palette-chamoisee: #9d8057;
  --uui-palette-chamoisee-light: rgb(175, 148, 110);
  --uui-palette-chamoisee-dark: rgb(138, 116, 87);
  --uui-palette-chamoisee-dimmed: rgb(115, 113, 110);

  --uui-palette-timberwolf: #e2dad4;
  --uui-palette-timberwolf-light: rgb(243, 239, 237);
  --uui-palette-timberwolf-dark: rgb(208, 208, 208);
  --uui-palette-timberwolf-dimmed: rgb(207, 207, 207);

  --uui-palette-gravel: #d8d7d9;
  --uui-palette-gravel-light: rgb(237, 237, 238);
  --uui-palette-gravel-dark: rgb(200, 200, 200);
  --uui-palette-gravel-dimmed: rgb(204, 204, 204);

  --uui-palette-sand: #f6f6f7;
  --uui-palette-sand-light: rgb(255, 255, 255);
  --uui-palette-sand-dark: rgb(226, 226, 226);
  --uui-palette-sand-dimmed: rgb(231, 231, 231);

  --uui-palette-white: #fefefe;
  --uui-palette-white-light: rgb(255, 255, 255);
  --uui-palette-white-dark: rgb(250, 250, 250);
  --uui-palette-white-dimmed: rgb(228, 228, 228);

  --uui-palette-black: #060606;
  --uui-palette-black-light: rgb(26, 26, 26);
  --uui-palette-black-dark: rgb(5, 5, 5);
  --uui-palette-black-dimmed: rgb(36, 36, 36);

  --uui-palette-grey: #c4c4c4;
  --uui-palette-grey-light: rgb(222, 222, 222);
  --uui-palette-grey-dark: rgb(179, 179, 179);
  --uui-palette-grey-dimmed: rgb(189, 189, 189);

  --uui-palette-dusty-grey: #9b9b9b;
  --uui-palette-dusty-grey-light: rgb(176, 176, 176);
  --uui-palette-dusty-grey-dark: rgb(141, 141, 141);
  --uui-palette-dusty-grey-dimmed: rgb(186, 186, 186);

  --uui-palette-mine-grey: #3e3e3e;
  --uui-palette-mine-grey-light: rgb(82, 82, 82);
  --uui-palette-mine-grey-dark: rgb(56, 56, 56);
  --uui-palette-mine-grey-dimmed: rgb(87, 87, 87);
}
