/* Size Properties */

:root {
  --uui-size-1: 3px;
  --uui-size-2: 6px;
  --uui-size-3: 9px;
  --uui-size-4: 12px;
  --uui-size-5: 15px;
  --uui-size-6: 18px;
  --uui-size-7: 21px;
  --uui-size-8: 24px;
  --uui-size-9: 27px;
  --uui-size-10: 30px;
  --uui-size-11: 33px;
  --uui-size-12: 36px;
  --uui-size-14: 42px;
  --uui-size-16: 48px;
  --uui-size-20: 60px;
  --uui-size-24: 72px;
  --uui-size-28: 84px;
  --uui-size-32: 96px;
  --uui-size-36: 108px;
  --uui-size-40: 120px;
  --uui-size-44: 132px;
  --uui-size-48: 144px;
  --uui-size-52: 156px;
  --uui-size-56: 168px;
  --uui-size-60: 180px;
  --uui-size-64: 192px;
  --uui-size-72: 216px;
  --uui-size-80: 240px;
  --uui-size-96: 288px;
  --uui-size-100: 300px;

  --uui-size-base-unit: 3px;

  --uui-size-xsmall: 9px;
  --uui-size-small: 12px;
  --uui-size-medium: 24px;

  --uui-size-large: 30px;
  --uui-size-xlarge: 42px;
  --uui-size-xxlarge: 66px;

  /** concept for a different naming convention: */
  --uui-size-space-1: 3px;
  --uui-size-space-2: 6px;
  --uui-size-space-3: 12px;
  --uui-size-space-4: 24px;
  --uui-size-space-5: 36px;

  --uui-size-layout-0: 24px;
  --uui-size-layout-1: 30px;
  --uui-size-layout-2: 42px;
  --uui-size-layout-3: 66px;
  --uui-size-layout-4: 80px;
  --uui-size-layout-5: 110px;

  /** Other size props: */
  --uui-size-border-radius: 3px;
}
