# .github/workflows/chromatic.yml

# Workflow name
name: 'Chromatic'

# Event for the workflow
on:
  push:
    paths:
      - 'package.json'
      - 'package-lock.json'
      - '.github/workflows/chromatic.yml'
      - '.storybook/**'
      - '!packages/uui/**'
      - 'packages/*/package.json'
      - 'packages/*/lib/**'
      - 'packages/*/assets/**'
    branches-ignore:
      - 'dependabot/**'
      - 'release/*'
      - 'Release/*'
      - 'main'
      - 'v*/main'
      - 'v*/release'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      sha:
        description: The SHA-1 hash referring to the commit to check.
        required: true
      ref:
        description: The head branch associated with the pull request.
        required: true

# List of jobs
jobs:
  chromatic-deployment:
    if: github.repository_owner == 'Umbraco'
    # Operating System
    runs-on: ubuntu-latest
    # Job steps
    steps:
      - uses: actions/checkout@v3
        with:
          # pulls all commits (needed for chromatic to find baselines)
          fetch-depth: '0'
      - name: Use Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: 'npm'
      - run: npm config set unsafe-perm true
      - name: Install dependencies
        run: npm ci
      - name: Publish to Chromatic
        uses: chromaui/action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          buildScriptName: 'storybook:build'
          exitOnceUploaded: true
          onlyChanged: '!(v*/dev)'
          externals: 'packages/uui-css/lib/**/*.css'
          untraced: '.storybook/images/**/*,storyhelpers/**/*'
