name: Publish

on:
  push:
    tags:
      - 'v*.*.*'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  NODE_OPTIONS: --max_old_space_size=16384

permissions:
  id-token: write # Required for OIDC
  contents: read

jobs:
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v6
        with:
          # pulls all commits (needed for lerna / semantic release to correctly version)
          fetch-depth: '0'

      - name: Cache build setup
        uses: actions/cache@v5
        with:
          path: node_modules/.cache
          key: ${{ runner.os }}-cache-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-cache-

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          check-latest: true
          cache: 'npm'
          registry-url: 'https://registry.npmjs.org'
      - name: Update npm
        run: npm install -g npm@latest
      - run: npm -v
      - run: npm install

      - name: Authenticate with Registry
        run: |
          echo "@umbraco-ui:registry=https://registry.npmjs.org/" > .npmrc
          echo "registry=https://registry.npmjs.org/" >> .npmrc
          echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" >> .npmrc
          npm whoami
        env:
          NPM_TOKEN: ${{ secrets.UMBRACO_PUBLISH_NPM_TOKEN}}

      - name: Publish package
        run: npm run lerna:publish
        env:
          NPM_TOKEN: ${{ secrets.UMBRACO_PUBLISH_NPM_TOKEN}}
          NPM_CONFIG_PROVENANCE: true
